
<div class="row justify-content-center" >
  <%=  form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => "form-control" %>
      <% if @user.errors[:first_name].present? %>
        <div class="error">
          <%= @user.errors[:first_name].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => "form-control"%>
      <% if @user.errors[:last_name].present? %>
        <div class="error">
          <%= @user.errors[:last_name].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, :class => "form-control" %>
      <% if @user.errors[:date_of_birth].present? %>
        <div class="error">
          <%= @user.errors[:date_of_birth].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, :class => "form-control" %>
      <% if @user.errors[:phone_number].present? %>
        <div class="error">
          <%= @user.errors[:phone_number].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :class => "form-control" %>
      <% if @user.errors[:email].present? %>
        <div class="error">
          <%= @user.errors[:email].to_sentence %>
        </div>
      <% end %>
    </div>
    <% if @user.new_record? %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", users_path, :class => "btn btn-danger" %>
    <% else %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", user_path, :class => "btn btn-danger" %>
    <% end %>
  <% end %>
</div>