<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "All Users", users_path %></li>
    <li class="breadcrumb-item"><%= link_to @user.full_name, user_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<h1 class="text-center">Edit <%= @user.full_name%></h1>
<hr>
<%= render partial: "form" %>