<h1>Users List- <span><%= link_to "Add new User", new_user_path %></span> </h1>
<div class="row justify-content-start">
  <% @users.each do |u| %>
    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-header"><%= link_to u.full_name, u %></div>
        <div class="card-body">
          <p class="card-text"><i class="fa fa-birthday-cake"></i> <%= u.date_of_birth %></p>
          <p class="card-text"><i class="fa fa-phone"></i> <%= u.phone_number %></p>
          <p class="card-text"><i class="fa fa-at"></i> <%= u.email %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>