<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "All Users", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@user.full_name %></li>
  </ol>
</nav>
<h1 class="text-center"><%= @user.full_name%></h1>
<hr>
<div class="row justify-content-center">
  <div class="col-md-5 text-center">
    <span><i class="fa fa-birthday-cake"></i> <%= @user.date_of_birth %></span><br/>
    <span><i class="fa fa-phone"></i> <%= @user.phone_number %></span><br/>
    <span><i class="fa fa-at"></i> <%= @user.email %></span><br />
    <span class="btn btn-warning"><%= link_to (fa_icon "edit", text: "Edit User"), [ :edit, @user ] %></span>
    <span class="btn btn-danger"><%= link_to (fa_icon "trash", text: "Remove User"), user_path(@user), method: :delete, data: {confirm: "Are you sure ?"} %></span>
  </div>
</div>

<h2 class="text-center"><%= link_to "Photos", user_photos_path(@user) %></h2>
<hr>
<div class="row justify-content-center">
  <% @user.photos.each do |p| %>
    <div class="col-md-2">
      <img src="<%= p.file %>" alt=""/>
      <i><%= link_to p.name, [@user, p] %></i>
    </div>
  <% end %>
</div>