<div class="row justify-content-center" >
  <%=  form_for @photo, url: [@user, @photo], :html => { :multipart => true }  do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
      <% if @photo.errors[:name].present? %>
        <div class="error">
          <%= @photo.errors[:name].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file, :class => "form-control"%>
      <% if @photo.errors[:file].present? %>
        <div class="error">
          <%= @photo.errors[:file].to_sentence %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :user_id %>
      <%= f.collection_select(:user_id, User.all, :id, :full_name, {}, {class: "form-control"}) %>
      <% if @photo.errors[:user_id].present? %>
        <div class="error">
          <%= @photo.errors[:user_id].to_sentence %>
        </div>
      <% end %>
    </div>
    <% if @photo.new_record? %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", user_photos_path, :class => "btn btn-danger" %>
    <% else %>
      <%= f.submit :class => "btn btn-primary"%><%= link_to "Cancel", user_photo_path, :class => "btn btn-danger" %>
    <% end %>
  <% end %>
</div>