<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "All Photos", user_photos_path %></li>
    <li class="breadcrumb-item"><%= link_to @photo.name, [@user, @photo] %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<h1 class="text-center">Edit <%= @photo.name%></h1>
<hr>
<%= render partial: "form" %>