<h1>Photos List of <%= link_to @user.full_name, user_path(@user) %>- <span><%= link_to "Add new Photo", new_user_photo_path %></span> </h1>
<div class="row justify-content-start">
  <% @photos.each do |p| %>
    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-header"><%= link_to p.name, [@user, p] %></div>
        <div class="card-body">
          <p class="card-text"><i class="fa fa-file"></i> <%= p.file %></p>
          <p class="card-text"><i class="fa fa-user"></i> <%= p.user.full_name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>