<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "All Photos", user_photos_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>
<h1 class="text-center">Add new photo</h1>
<hr>
<%= render partial: "form" %>
