<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "All Photos", user_photos_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%@photo.name %></li>
  </ol>
</nav>
<h1 class="text-center"><%= @photo.name%></h1>
<hr>
<div class="row justify-content-center">
  <div class="col-md-5 text-center">
    <span><i class="fa fa-file"></i><%= @photo.file %></span><br/>
    <img src="<%= @photo.file %>"/><br/>
    <%= link_to @user.full_name, user_path(@photo.user_id) %><br />
    <span class="btn btn-warning"><%= link_to (fa_icon "edit", text: "Edit Photo"), [:edit, @user, @photo] %></span>
    <span class="btn btn-danger"><%= link_to (fa_icon "trash", text: "Remove Photo"), [@user, @photo], method: :delete, data: {confirm: "Are you sure ?"} %></span>
  </div>
</div>