/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

.header {
  width: 100%;
  margin: 0;
  padding: 50px;
  background-color: #eaeaea;
  margin-bottom: 20px;
}

main {
  padding-left: 65px;
  padding-right: 65px;
}

.card {
  margin : 15px;
}

.error {
  font-style: italic;
  color: #B00100;
}

h2 {
  margin-top: 35px;
}

img {
  max-height: 450px;
  max-width: 450px;
}