<!DOCTYPE html>
<html>
<head>
  <title>AnnuaireProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="header">
  <h1><i>Annuaire Project Application</i></h1>
</div>
<main>
  <%= yield %>
</main>
</body>
</html>
